@model IEnumerable<EFExemplo.Models.Cliente>

@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<h1>Cadastro de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>
<table class="table  table-striped">
    <thead>
        <tr class=" table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ClienteId">
                        <svg bootstrap-icon="Pencil" width="24" height="24" aria-label="Alarms"></svg>
                    </a> |
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ClienteId">
                        <svg bootstrap-icon="CardList" width="24" height="24" aria-label="Detalhes"></svg>
                    </a> |
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ClienteId">
                        <svg bootstrap-icon="Trash" width="24" height="24" aria-label="Alarms"></svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
